
<table class="table">
<tr>
	<th>ФИО</th>
	<th>Телефон</th>
	<th>Есть льгота?</th>
	<th>Дата визита</th>
</tr> <!--ряд с ячейками заголовков-->
<% @resultat.each do |x| %>
<tr>
	<td><%= x['pacient'] %></td> 
	<td><%= x['phone'] %></td>
	<td><%= x['lgota'] %></td>
	<td><%= x['date_visit'] %></td>
</tr>
<% end %>

</table>
